body{
    font-family: "Parkinsans", serif;
    background-image: url(https://wallpapercave.com/wp/wp14172971.jpg);
}
.size_guide {
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
    color: whitesmoke;
}
    #header_size_guide{
        display: flex;
        align-items: flex-start;
    }
    #header_conversions{
        margin-bottom: 80px;
    }
    #top_part{
        background-color: lightgrey;
        background: repeating-linear-gradient(25deg,rgba(174, 173, 173, 0.763), rgba(154, 143, 145, 0.556) 10%, rgba(211, 211, 211, 0.425) 20%);
        border-radius: 10px;
        height: 30px;
        margin:10px;
        padding: 1px;
        margin-bottom: -5px;
        margin-left: -5px;
        margin-right: -5px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    #home_panel{
        display: flex;
        justify-items: flex-start;
        align-items: center;
    }
    .home_part{
        margin-left: 5px;
    }
        #logo{
            color: whitesmoke;
            text-decoration-line: none;
            margin-right: 5px;
        }
        #Catalog{
            color: whitesmoke;
            text-decoration-line: none;
            margin-right: 5px;
        }
        #search_bar{
            border-radius: 10px;
            margin-right: -10px;
            background-color: rgba(255, 255, 255, 0.581);
            border-style: none;
        }
        #search_button{
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.581);
            margin-left: 7px;
            width: 25px;
            border-style: none;
        }
    #account_panel{
        display: flex;
        justify-items: flex-end;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 1000px;
    }
        #bag{
            margin-right: 5px;
            color: white;
            text-decoration-line: none;
        }
        #account{
            color: whitesmoke;
            text-decoration-line: none;
        }
#grid {
    height: 492px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}
    .gray_grid{
        background-color: gray;
        border-style: inset;
        border-color: black;
        align-items: center;
        padding: 10px;
    }
    .lightgray{
        background-color: lightgray;
        border-style:inset;
        border-color: black;
        align-items: center;
    }
footer{
    color: whitesmoke;
    text-decoration-line: none;
    background-color: lightgray;
}
#bottom_part{
    background: repeating-linear-gradient(25deg,rgba(174, 173, 173, 0.763), rgba(154, 143, 145, 0.556) 10%, rgba(211, 211, 211, 0.425) 20%);
    height: 130px;
    margin:1px;
    margin-bottom: -5px;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 10px;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
#help_section{
    margin-top: 5px;
}
    .links_help_section{
        color: whitesmoke;
        text-decoration-line: none;
        font-size: 13px;
    }
#about_section{
    margin-top: 5px;
}
    .links_about_section{
        color: whitesmoke;
        text-decoration-line: none;
        font-size: 13px;
    }
#more_section{
    margin-top: 5px;
    }
    .links_more_section{
        color: whitesmoke;
        text-decoration-line: none;
        font-size: 13px;
    }